{%extends 'appbase.html'%}

{%block contents%}

<div class="container p-3 my-3 bg-white text-blue">
  <h1>Find Teacher Directory Home</h1>
  <pre style="font-family: 'Times New Roman', Times, serif;">
        Teacher Directory
A client has requested we create a Directory app containing all the Teachers in a given school.
Each teacher should have the following information
First Name
Last Name
Profile picture
Email Address
Phone Number
Room Number
Subjects taught
Teachers can have the same first name and last name but their email address should be unique
A teacher can teach no more than 5 subjects
The directory should allow Teachers to filtered by first letter of last name or by subject.
You should be able to click on a teach in the directory and open up the profile page. From there you
can see all details for the teacher.
An Importer will be needed to allow Teachers details to be added to the system in bulk. This should
be secure so only logged in users can run the importer.
The CSV attached contains a list of teacher who need to be uploaded as well as the filename for the
profile image for every teacher that is also store in database.
You can use SQLite for the database backend for simplicity.

    </pre>


</div>
{%endblock%}